<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="is.ecci.ucr.projectami">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/nimbu_ic"
        android:label="Nimbu"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:label="Nimbu"
            />



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA58eEmyOdwXxCTRh0k9wqOJvN5-k5n-us" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".Activities.SamplePointInfoActivity"
            android:label="SamplePointInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity android:name=".Activities.LogActivity"/>
        <activity android:name=".Activities.SubScreenMap"
            android:label="SubScreenMap"
            android:theme="@style/AppTheme.PopUpTheme"
            />

        <activity android:name=".Activities.Classification.PerfilActivity"
            android:label="PerfilActivity"
            android:theme="@style/AppTheme.PopUpTheme"
            />

        <activity android:name=".Activities.Classification.QuestionsGUIActivity"
            android:label="QuestionsGUI"/>
        <activity android:name=".Activities.Classification.BugsSampleToRegisterActivity"></activity>
        <activity android:name=".Activities.CatalogActivity"></activity>


    </application>

</manifest>